.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  transition: linear 0.5s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
