@import url(./__iframe/video__iframe.css);
@import url(./_iframes/video__iframes.css);
.video {
  margin-bottom: -60px;
  padding-top: 100px;
}


.video .section-title {
  margin: 0 auto 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.video .section-subtitle {
  margin: 20px auto 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
