.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  /* parameters for the header section */
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.png");
  height: 31px;
  width: 154px;
  position: absolute;
  z-index: 0;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title {
  margin: auto 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 3;
  text-align: left;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

.header__link {
  text-align: left;
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background-size: contain;
  background-repeat: no-repeat;
  height: 608px;
  width: 756px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: 0;
}

.content {
  margin: 0;
}

.description {
  margin: 100px 0px;
}

.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0px;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
  width: 80%;
  margin-bottom: 0%;
}

.two-columns__paragraph {
  margin-top: 0;
  padding-bottom: 30px;
  text-align: left;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: auto;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0px 0px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0px auto;
  padding: 0;
}

.table__cell {
  list-style: none;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.table__text {
  margin: 20px 0px 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  padding-top: 100px;
  position: relative;
}

.feynman__background-image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0px auto 0px;
  position: relative;
  z-index: 3;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px auto 0px;
  position: relative;
  z-index: 3;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 46px;
  z-index: 4;
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  color: white;
  margin: 0px auto;
  padding: 90px 0px 90px;
  position: relative;
}

.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
  width: 60%;
  position: relative;
  z-index: 4;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table_theme_dark {
  width: 1100px;
  margin: 0px auto;
  position: relative;
  z-index: 4;
}

/* including elements with key-value modifiers */

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0px 0px;
  list-style: none;
  z-index: 2;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  height: 636px;
  width: 660px;
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 1;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.png);
  height: 35px;
  width: 183px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0px;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
}

/* .footer__column_content_social {

} */

.footer__social-icons {
  display: flex;
  flex-direction: column;
}
